<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>部署一覧</title>
</head>
    <body>
        <h1>部署一覧</h1>

            <div th:if="${successMessage}" class="success-message">
            <p th:text="${successMessage}"></p>
            </div>

            <form th:action="@{/department/index}" method="get" class="search-form">
                <label for="keyword">キーワード:</label>
                <input type="text" id="keyword" name="keyword" th:value="${keyword}" placeholder="検索したい部署名を入力">
                <button type="submit" class="search-button">検索</button>
                <button type="button" class="clear-button" onclick="location.href='/department/index';">クリア</button>
            </form>

        <p>検索結果: <span th:text="${departments.size()}">0</span>件</p>

        <a th:href="@{/department/create}" class="create-button">部署新規追加</a>

        <table>
            <tbody>
                <tr th:each="department : ${departments}">
                    <td th:text="${department.nameJp}"></td>
                    <td>
                        <a th:href="@{/department/edit/{id}(id=${department.id})}" class="edit-link">編集</a>
                    </td>
                </tr>
                <tr th:if="${departments.empty}">
                    <td colspan="6">部署情報はありません。</td>
                </tr>
            </tbody>
        </table>
    </body>
</html>